@inherits LayoutComponentBase
@using BlazorApp2.Components.Pages;

<div class="wholepagew">
    <div class="search_barw">
        <WeatherSearch></WeatherSearch>
    </div>
    <div class="content">
        <main>
            @Body    @*edw mesa ginetai render to home*@
        </main>
    </div>
    
</div>

